<p id="notice"><%= notice %></p>

<h1>Patient Cards</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Clinic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_cards.each do |patient_card| %>
      <tr>
        <td><%= patient_card.number %></td>
        <td><%= patient_card.clinic %></td>
        <td><%= link_to 'Show', patient_card %></td>
        <td><%= link_to 'Edit', edit_patient_card_path(patient_card) %></td>
        <td><%= link_to 'Destroy', patient_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient Card', new_patient_card_path %>
